* {
  box-sizing: border-box;
  --primary-color: #152427;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  scroll-behavior: smooth;
}

/* ========== Common ========== */
.container {
  max-width: calc(100% - 48px);
  width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  --height: 57px;

  display: inline-block;
  min-width: 173px;
  height: var(--height);
  border-radius: 40px;
  border: 1.5px solid #143c3c;
  background: var(--primary-color-black-green, #143c3c);

  color: var(--text-color-white, #fff);
  font-family: Public Sans;
  line-height: var(--height);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  transition: 0.25s;
}

.btn:hover {
  background: #e2eddf;
  color: #143c3c;
}

.section-heading {
  color: #152427;
  font-family: Public Sans;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2; /* 120% */
}

.section-desc {
  color: #575d5e;

  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}

/* ========== Header ========== */
/* Header Top */
.header-top {
  display: flex;
  align-items: center;
  font-family: Public Sans;
  padding-top: 28px;
}

/* Nav-Bar */
.nav-bar {
  margin-left: auto;
}

.nav-bar__list {
  display: flex;
  gap: 38px;
}

.nav-bar__link {
  color: var(--text-color-black-gray, #575d5e);

  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}

.nav-bar__link:hover {
  color: var(--primary-color-black, #152427);
}

.nav-bar__link--active {
  position: relative;
  color: var(--primary-color-black, #152427);
}

.nav-bar__link--active::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 2px;
  background: var(--primary-color-black-green, #143c3c);
  position: absolute;
  left: 2px;
  bottom: -28px;
}

/* Action */
.header-action {
  margin-left: 88px;
}

/* ========== Seperate ========== */
.header__seperate {
  height: 1px;
  margin-top: 13px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}

/* ========== Hero ========== */
.hero {
  padding: 60px 0;
}

.hero__row {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.hero__pattern {
  position: absolute;
  left: 250px;
  top: 10px;
}

.hero__content {
  width: 33.5%;
}

.hero__heading {
  width: 368px;
}

.hero__desc {
  margin-top: 20px;
}

.hero__action {
  margin-top: 42px;
  display: flex;
  gap: 36px;
  align-items: center;
  cursor: pointer;
}

.hero-watch {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero-watch__border {
  border-radius: 50%;
  border: 4px solid #143c3c;
  border-right-color: transparent;
  border-bottom-color: transparent;
  padding: 3px;
  transform: rotate(-45deg);
  flex-shrink: 0;
  transition: 0.25s;
}

.hero-watch:hover .hero-watch__border {
  transform: rotate(135deg);
  border-top-color: #83a17d;
  border-left-color: #83a17d;
}

.hero-watch:hover .hero-watch__icon {
  background: #143c3c;
}

.hero-watch:hover .hero-watch__text {
  color: #83a17d;
}

.hero-watch__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);

  width: 44px;
  height: 43px;
  border-radius: 50%;
  background: #83a17d;
  background-clip: content-box;
}

.hero-watch__text {
  color: #152427;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
  white-space: nowrap;
  transition: 0.25s;
}

.hero__images {
  display: flex;
  gap: 20px;
}

.hero__img {
  width: 202px;
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}

.hero__img:nth-of-type(2) {
  transform: translateY(77px);
}
